# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# More information on profiles: https://www.jhipster.tech/profiles/
# More information on configuration properties: https://www.jhipster.tech/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

management:
  endpoints:
    web:
      base-path: /management
      exposure:
        include:
          [
            "configprops",
            "env",
            "health",
            "info",
            "jhimetrics",
            "logfile",
            "loggers",
            "threaddump",
            "caches",
            "liquibase",
          ]
  endpoint:
    health:
      show-details: when_authorized
      roles: "ROLE_ADMIN"
    jhimetrics:
      enabled: true
  info:
    git:
      mode: full
  health:
    group:
      liveness:
        include: livenessState
      readiness:
        include: readinessState,datasource
    mail:
      enabled: false # When using the MailService, configure an SMTP server and set this to true
  metrics:
    enable:
      http: true
      jvm: true
      logback: true
      process: true
      system: true
    distribution:
      percentiles-histogram:
        all: true
      percentiles:
        all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
    tags:
      application: ${spring.application.name}

logging:
  level:
    _org.springframework.web.servlet.HandlerMapping.Mappings": INFO
    angus.activation: WARN
    com.zaxxer: WARN
    io.undertow: WARN
    io.undertow.websockets.jsr: ERROR
    jakarta.activation: WARN
    jakarta.mail: WARN
    jakarta.xml.bind: WARN
    javax.management.remote: WARN
    jdk.event.security: INFO
    jdk.internal.httpclient: WARN
    liquibase: WARN
    org.apache: WARN
    org.ehcache: WARN
    org.glassfish.jaxb.runtime: WARN
    org.hibernate: WARN
    org.hibernate.orm.incubating: ERROR
    org.opensaml: INFO
    org.postgresql: WARN
    org.springframework: WARN
    org.thymeleaf: WARN
    org.xnio: WARN
    sun.rmi: WARN
    com.itextpdf.styledxmlparser.css.parse.syntax: OFF
    com.itextpdf.layout.renderer: OFF
    com.itextpdf.pdfa.PdfADocument: OFF
    com.itextpdf.kernel.pdf.PdfReader: OFF

spring:
  application:
    name: elsaBackend
  profiles:
    # The commented value for `active` can be replaced with valid Spring profiles to load.
    # Otherwise, it will be filled in by gradle when building the JAR file
    # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
    active: #spring.profiles.active#
    group:
      dev:
        - dev
  jmx:
    enabled: false
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
  liquibase:
    change-log: classpath:/config/liquibase/master.xml
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  jpa:
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.timezone.default_storage: NORMALIZE
      hibernate.id.new_generator_mappings: true
      hibernate.id.db_structure_naming_strategy: legacy
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      # modify batch size as necessary
      hibernate.jdbc.batch_size: 25
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true
      hibernate.jdbc.use_streams_for_binary: true
      org:
        hibernate:
          envers:
            audit_table_suffix: _audit
            revision_field_name: revision_id
            revision_type_field_name: revision_type
            revision_on_collection_change: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
  messages:
    basename: i18n/messages
  web:
    locale-resolver: accept_header
    locale: fi
    resources:
      add-mappings: false # NoHandlerFoundAdviceTrait needs this
  mvc:
    problem-details:
      enabled: true
  main:
    allow-bean-definition-overriding: true
  task:
    execution:
      thread-name-prefix: elsa-backend-task-
      pool:
        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      thread-name-prefix: elsa-backend-scheduling-
      pool:
        size: 2
  thymeleaf:
    mode: HTML
  output:
    ansi:
      console-available: true

server:
  servlet:
    session:
      cookie:
        http-only: true
        same-site: none
      timeout: 7200s

cloud:
  aws:
    region:
      static: eu-west-1
    stack:
      auto: false

# Properties to be exposed on the /info management endpoint
info:
  # Comma separated list of profiles that will trigger the ribbon to show
  display-ribbon-on-profiles: "dev"

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://www.jhipster.tech/common-application-properties/
# ===================================================================

jhipster:
  clientApp:
    name: "elsa"
  # By default CORS is disabled. Uncomment to enable.
  # cors:
  #     allowed-origins: "*"
  #     allowed-methods: "*"
  #     allowed-headers: "*"
  #     exposed-headers: "Authorization,Link,X-Total-Count"
  #     allow-credentials: true
  #     max-age: 1800
  mail:
    from: no-reply@mail.kehitys.elsapalvelu.fi
# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://www.jhipster.tech/common-application-properties/
# ===================================================================

application:
  security:
    encoded-key:
    secret-key-algorithm: AES
    cipher-algorithm: AES/CBC/PKCS5Padding
    saml-scheme: http
    suomifi:
      enabled: true
      saml-private-key-location: classpath:private.key
      saml-certificate-location: classpath:public.crt
      saml-suomifi-metadata-location: https://static.apro.tunnistus.fi/static/metadata/idp-metadata.xml
      saml-suomifi-entity-id: https://testi.apro.tunnistus.fi/idp1
    haka:
      enabled: true
      saml-private-key-location: classpath:private.key
      saml-certificate-location: classpath:public.crt
      saml-haka-metadata-location: https://haka.funet.fi/metadata/haka_test_metadata_signed.xml
    sisuhy:
      api-key:
      graphql-endpoint-url: https://gw-api-test.it.helsinki.fi/secure/sisu/graphql
      tutkintoohjelma-export-url: https://gw-api-test.it.helsinki.fi/secure/sisu/kori/api/qualifications/v1/export?since=0&limit=10000
      private-key-location: classpath:sisu/hy-sisu.key
      certificate-location: classpath:sisu/hy-sisu.crt
    sisutre:
      endpoint-url: https://test.apis.tuni.fi/elsa
      token-endpoint-url: https://login.microsoftonline.com
      tenant-id:
      client-id:
      scope-id:
      client-secret:
      subscription-key:
    peppioulu:
      token:
      graphql-endpoint-url: https://api-proxy-dev.oulu.fi/graphqldendev
    peppiturku:
      api-key:
      basic-auth-encoded-key:
      endpoint-url: https://api-ext.utu.fi/peppi/test/opendata/r1/elsa/search
    peppiuef:
      api-key:
      endpoint-url: https://mixqa.uef.fi/api/v1/elsa
  feedback:
    to: mirja.lukkari@oulu.fi
  opintohallintoemail:
    hki:
    oulu:
    tre:
    turku:
    uef:
  sarakesign:
    oulu:
      api-key:
      api-url:
      request-template-id:
    hki:
      api-key:
      api-url:
      request-template-id:
    tre:
      api-key:
      api-url:
      request-template-id:
    turku:
      api-key:
      api-url:
      request-template-id:
    uef:
      api-key:
      api-url:
      request-template-id:
  arkistointi:
    tre:
      kaytossa: false
      host:
      port:
      user:
      private-key-location:
      metadata:
        zip-metadata: true
        contact:
          person:
          address:
          phone:
          email:
        organisation: "TAU"
        retention-period: "-1"
        retention-reason: "Sisältää henkilötietoja"
        cases:
          valmistuminen:
            title: "Valmistuminen"
            type: "Valmistuminen"
            function: "04.02.05"
            documents:
              yhteenveto:
                retention-period: "20"
              liite:
                retention-period: "10"
          koejakso:
            title: "Koejakson arviointi"
            type: "Koejakson arviointi"
            function: "04.01.04"
            documents:
              arviointi:
                retention-period: "-1"
    hki:
      kaytossa: false
      host:
      api-key:
      metadata:
        zip-metadata: true
        contact:
          person:
          address:
          phone:
          email:
        organisation: "Helsingin yliopisto"
        retention-reason: "Helsingin yliopiston päätös (tiedonhallintamalli)"
        retention-period: "20"
        use-type: "Säilytys"
        cases:
          valmistuminen:
            title: "Valmistumisen yhteenveto"
            type: "Raportti"
            siilo-koodi: "0b00000000001e0e"
            function: "04.12"
            documents:
              yhteenveto:
                retention-period: "20"
          koejakso:
            title: "Koejakson arviointi"
            siilo-koodi: "0b00000000001e10"
            type: "Muu"
            function: "04.12"
            documents:
              arviointi:
                retention-period: "20"
          sopimus:
            title: "Koulutuspaikkasopimus"
            siilo-koodi: "0b00000000001e0f"
            type: "Sopimus"
            function: "04.12"
            documents:
              sopimus:
                retention-period: "20"
    oulu:
      kaytossa: false
    turku:
      kaytossa: false
    uef:
      kaytossa: false
