<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fi">
<head>
    <title th:text="#{email.arviointipyyntoKouluttajalle.otsikko}">[ELSA-palvelu] Olet saanut uuden suoritusarviointipyynnön</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.arviointipyyntoKouluttajalle.tervehdys)}">
    Hei,
</p>
<p th:text="#{email.arviointipyyntoKouluttajalle.text1}">
    Olet saanut ELSA-palveluun uuden suoritusarviointipyynnön.

    Anna arviointisi mahdollisimman pian alla olevan linkin kautta:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/todo?key=${user.id}|})" th:href="${url}"
       th:text="${url}">Todo</a>
</p>
<p th:text="#{email.arviointipyyntoKouluttajalle.noreply}">
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span th:text="#{email.reset.terveisin}">Terveisin, </span>
    <br/>
    <em th:text="#{email.signature}">ELSA-palvelu</em>
</p>
</body>
</html>
