<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fi">
<head>
    <title>[ELSA-palvelu] Olet saanut koejakson koulutussopimuksen kuitattavaksi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    Olet saanut ELSA-palveluun uuden koejakson koulutussopimuksen kuitattavaksi.

    Pääset kuittaamaan koejakson koulutusopimuksen alla olevan linkin kautta:
</p>
<p>
    <a th:with="url=(@{|${baseUrl}/koejakso/koulutussopimus/${id}|})" th:href="${url}"
       th:text="${url}"></a>
</p>
<p>
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span>Terveisin, </span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
