<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="fi">
<head>
    <title>[ELSA-palvelu] Olet saanut uuden käyttäjäpalautteen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    Olet saanut uuden käyttäjäpalautteen ELSA-palvelusta.<br><br>

    Palautteen aihe: <span th:text="${feedbackTopic}"></span><br><br>

    Palautteen lähettäjä: <span th:if="${!feedbackSender.isEmpty()}" th:text="${feedbackSender}"></span><span th:if="${feedbackSender.isEmpty()}" th:text="#{palaute.anonyymi}"></span><br><br>

    Yliopisto: <span th:text="${feedbackYliopisto}"></span><br><br>

    Palaute: <p th:text="${feedback}"></p>

</p>
<p>
    <span>Terveisin, </span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
