<!DOCTYPE html>
<html lang="fi" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[ELSA-palvelu] Olet saanut ilmoituksen seurantajakson poistosta</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    Erikoistuja <span th:text="${name}"></span> on poistanut sinulle aiemmin lähettämänsä
    seurantajakson eikä se ole enää tarkasteltavissa ELSA-palvelussa.
</p>
<p>
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span>Terveisin, </span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
