<!DOCTYPE html>
<html lang="fi" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[ELSA-palvelu] Ilmoitus useammasta opinto-oikeudesta</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    ELSA havaitsi, että sinulla on useita opinto-oikeuksia. Opiskelijalla voi olla kerrallaan vain yksi erikoistumiseen
    liittyvä varsinainen opinto-oikeus vain yhdessä yliopistossa. Lisäksi opiskelijalla voi olla voimassa toinen
    määräaikainen 2-vuotinen opinto-oikeus koejakson suorittamisen ajan.
</p>
<p>
    Sinun tulisi luopua muista opinto-oikeuksista. Toimita opinto-oikeuksista luopumisen lomake sähköpostitse oman
    yliopistosi opintohallintoon:
    <a href="https://www.laaketieteelliset.fi/ammatillinen-jatkokoulutus/lomakkeet">
        https://www.laaketieteelliset.fi/ammatillinen-jatkokoulutus/lomakkeet
    </a>
</p>
<p>
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span>Terveisin,</span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
