<!DOCTYPE html>
<html lang="fi" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[ELSA-palvelu] Olet saanut kutsun liittyä ELSA-järjestelmän käyttäjäksi</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    Sinut on kutsuttu erikoistuvaksi lääkäriksi ELSA-palveluun.

    Pääset kirjautumaan järjestelmään seuraavan linkin kautta:
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${baseUrl}/kirjautuminen?token=${id}|})"></a>
</p>
<p>
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span>Terveisin, </span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
