<!DOCTYPE html>
<html lang="fi" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[ELSA-palvelu] Olet saanut kutsun liittyä ELSA-järjestelmän käyttäjäksi</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p>
    Hei,
</p>
<p>
    Sinut on kutsuttu vastuuhenkilöksi ELSA-palveluun. Pääset kirjautumaan palveluun suoraan julkisen osoitteen kautta
    käyttämällä oman yliopistosi tunnusta ja salasanaa.
</p>
<p>
    HUOM! Tähän sähköpostiviestiin ei voi vastata.
</p>
<p>
    <span>Terveisin, </span>
    <br/>
    <em>ELSA-palvelu</em>
</p>
</body>
</html>
